# Required: connection string to the Midnight DA database
# Use absolute path or relative from repo root
# mode=ro for read-only access to rollup's DA database
DA_CONNECTION_STRING=sqlite:///Users/YOUR_USER/path/to/dcpsark-sovereign-sdk/examples/rollup-ligero/demo_data/da.sqlite?mode=ro

# Optional: where to store the index DB (SQLite)
# Defaults to: sqlite://wallet_index.sqlite?mode=rwc
INDEX_DB=sqlite://temp-data/wallet_index.sqlite?mode=rwc

# Optional: It would drop all tables at the start to resync the schema and the data
INDEX_DB_RESET=1

# Optional: bind address for the HTTP server
# Defaults to: 0.0.0.0:13100
INDEXER_BIND=0.0.0.0:13100

