RUST_LOG=debug

MCP_SERVER_BIND_ADDRESS=127.0.0.1:3000

WALLET_PRIVATE_KEY=1b424....

ROLLUP_RPC_URL=http://127.0.0.1:12346

LIGERO_PROGRAM_PATH=${CARGO_MANIFEST_DIR}/../adapters/ligero/bins/programs/value_validator.wasm

LIGERO_PROVER_BINARY_PATH=${CARGO_MANIFEST_DIR}/../adapters/ligero/bins/macos/bin/webgpu_prover

LIGERO_SHADER_PATH=${CARGO_MANIFEST_DIR}/../adapters/ligero/bins/macos/shader
