RUST_LOG=debug

MCP_SERVER_BIND_ADDRESS=127.0.0.1:3000

# TODO: Wallet to be used to fund new wallets
ADMIN_WALLET_PRIVATE_KEY=

# TODO: Set your wallet private key (hex) - use a genesis key or your own
WALLET_PRIVATE_KEY=

ROLLUP_RPC_URL=http://127.0.0.1:12346

VERIFIER_URL=http://127.0.0.1:8080

INDEXER_URL=http://127.0.0.1:13100

# TODO: Set your authority viewing full key (hex)
AUTHORITY_VFK=

# TODO: Set your privacy pool spending key (hex)
PRIVPOOL_SPEND_KEY=

AUTO_FUND_DEPOSIT_AMOUNT=50000
